@import "~@tabler/core/src/scss/config";
@import "~@tabler/core/src/scss/bootstrap-components";
@import "~@tabler/core/src/scss/mixins";
@import "~@tabler/core/src/scss/fonts/webfonts";
@import "~@tabler/core/src/scss/layout/core";
@import "~@tabler/core/src/scss/layout/navbar";
@import "~@tabler/core/src/scss/layout/page";
@import "~@tabler/core/src/scss/ui/cards";
@import "~@tabler/core/src/scss/ui/icons";
@import "~@tabler/core/src/scss/ui/avatars";

//noinspection ALL
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down(breakpoint-next($breakpoint)) {
        @include navbar-vertical-nav;
      }

      @include media-breakpoint-up($next) {
        .navbar-collapse {
          width: auto;
          flex: 1 1 auto;
        }

        &.navbar-dark,
        .navbar-dark {

          .nav-item.active {
            position: relative;

            &:after {
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              bottom: -.2rem;
              border: 0 solid $white;
              border-bottom-width: 2px;
            }

            .nav-link {
              background-color: rgba($black, .0);
            }
          }
        }
      }
    }
  }
}

.list-group {
  a {
    text-decoration: none;
  }

  .list-group-item {
    cursor: pointer;
  }
}